@import url(variables.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(252, 252, 252);
    background-color: #f7f7ff;
}

.div_alto{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 85%;
}
.div_medio{
    /* background-color: red; */
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
}
.span_find{
    font-family: "inter";
    color: black;
    font-size: 25px;
}
.span_other{
    font-family: "inter";
    color: purple;
    font-size: 25px;
}
.search-box{
    /* background-color: yellow; */
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 90%;
    height: 40px;
    z-index: -1;
    border: none;
    border-radius: 10px;
}
.txt_search{
    /* background-color: green; */
    display: flex;
    position: absolute;
    top: 229px;
    left: 30px;
}
.txt{
    /* background-color: blue; */
    display: flex;
    position: absolute;
    font-size: 10px;
    left: 62px;
    top: 229px;
    font-family: "regular";
}
.filter{
    /* background-color: red; */
    display: flex;
    position: absolute;
    left: 87%;
    top: 230px;
}
.scroll {
    /* background-color: red; */
    width: 100%;
    height: 50px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.scroll_data {
    display: flex;
    flex-wrap: nowrap;
}

.caja1, .caja2, .caja3, .caja4 {
    margin-top: 20px;
    font-family: "regular";
    margin-left: 20px;
    margin-right: 20px;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 15px;
    height: 30px;
    border: 2px solid #ccc;
    padding-left: 15px;
    padding-right: 10px;
    border: none;
}

.caja1 {
    width: 45%;
    background-color: var(--color-3);
}

.caja2 {
    width: 35%;
    background-color: var(--color-4);
}

.caja3{
    width: 50%;
    background-color: var(--color-5);
}
.caja4 {
    width: 50%;
    background-color: var(--color-6);
}
.txt_2{
    margin-top: 35px;
    margin-left: 7%;
    margin-right: 7%;
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
}
.txt_1{
    /* background-color: red; */
    font-family: "inter";
    font-size: 12px;
    width: 45%;
}
.txt_22{
    margin-right: 7%;
    font-size: 14px;
    width: 15%;
    font-family: "regular";
    /* background-color: green; */
    display: flex;
    position: absolute;
    left: 85%;
    height: 22px;
}
.concerts{
    /* background-color: white; */
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-top: 16px;
    margin-left: 20px;
    /* margin-right: 20px;*/
    overflow-x: auto;
    gap: 30px;
}
.txt_3{
    margin-top: 35px;
    margin-left: 7%;
    margin-right: 7%;
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
}
.txt_33{
    /* background-color: red; */
    font-family: "inter";
    font-size: 12px;
    width: 45%;
}
.txt_333{
    margin-right: 7%;
    font-size: 14px;
    width: 15%;
    font-family: "regular";
    /* background-color: green; */
    display: flex;
    position: absolute;
    left: 85%;
    height: 22px;
}
.span_fin{
    color: orange;
}
.section_baja{
    z-index: -1;
    display: flex;
    flex-direction: row;
    gap: 5%;    
    margin-top: 20px;
    margin-left: 7%;
    margin-bottom: 40px;
    border: 1px;
    /* background-color: white; */

}
.caja_izq{
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    /* width: 38%; */
    /* background-color: yellow; */
    /* margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px; */

}
.caja_izq img{
    padding: 8px;
}
.caja_izq h2{
    padding-left: 10px;
    font-family: "inter";
    font-size: 10px;

}
.caja_izq h3{
    padding-left: 30px;
    font-family: "regular";
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
}
.caja_izq h1{
    padding-left: 30px;
    font-family: "inter";
    font-size: 15px;
    padding-bottom: 10px;
}

.caja_der{
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    /* width: 38%; */
    /* background-color: yellow; */
    /* margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px; */

}
.caja_der img{
    padding: 8px;
}
.caja_der h2{
    padding-left: 10px;
    font-family: "inter";
    font-size: 10px;

}
.caja_der h3{
    padding-left: 30px;
    font-family: "regular";
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
}
.caja_der h1{
    padding-left: 30px;
    font-family: "inter";
    font-size: 15px;
    padding-bottom: 10px;
}

.location{  
    /* background-color: wheat; */
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 28px;
    top: 795px;
}
.calender{  
    /* background-color: wheat; */
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 28px;
    top: 815px;
}
.eva{  
    /* background-color: wheat; */
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 30px;
    top: 835px;
}
.banner{
    display: flex;
    /* background-color: blue; */
    width: 107%;
    justify-items: center;
    align-items: center;
    margin-left: -5%;
    margin-top: -5%;
    z-index: -1;
}

.banner img{
    display: flex;
    height: 100%;
    width: 120%;
    z-index: -1;
}