:root{
    --color-1: #FFFFFF;
    --color-2: #00EDFC;
    --color-3: #EDE9FF;
    --color-4: #FFF5D7;
    --color-5: #FFECEC;
    --color-6: #E4FFEA;
}

@font-face {
    font-family: "inter";
    src: url(/storage/fonts/Inter/Inter_18pt-SemiBold.ttf);
}
@font-face {
    font-family: "regular";
    font-weight: 600;
    src: url(/storage/fonts/Inter/Inter_18pt-Regular.ttf);
}